.container {
    display: inline-block;
    vertical-align: top;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
    width: 80px;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    font-size: 10px;
}

.bold {
    font-weight: bold;
}
