.container {
    padding: 6px;
    border: 1px solid black;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr auto;
}
.name {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

.meter {
    display: inline-block;
}

.center {
    text-align: center;
    align-content: center;
}
