.container {
    writing-mode: vertical-rl;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background-color: lightgrey;
    margin-right: 2px;
    word-wrap: break-word;
}
