.container {
    position: relative;
    display: inline-block;
    padding: 2px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 0;
    border-color: grey;
    border-style: solid;
}

.container:first-child {
    border-left: 1px;
    border-color: grey;
    border-style: solid;
}

.name {
    text-align: center;
}

.center {
    text-align: center;
    align-content: center;
}

.toggleContainer {
    display: inline-grid;
    column-count: 1;
    position: absolute;
    top: 40px;
    left: 10px
}

.verticalRange {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 150px;
    padding: 0 24px;
    outline: none;
    background:transparent;
}
