.container {
    display: block;
    padding: 2px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-top: 0;
    border-color: grey;
    border-style: solid;
}

.container:first-child {
    border-top: 1px;
    border-color: grey;
    border-style: solid;
}

.row {
    display: flex;
    border-right: 1px;
}

.name {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

.center {
    text-align: center;
    align-content: center;
}

.volume {
    width: 150px;
    display: inline-block;
}

.panning {
    width: 50px;
    display: inline-block;
}

.toggleContainer {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
}

.toggleContainerButtons {
    margin-left: auto;
    margin-right: 2px;
}

.verticalRange {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 150px;
    padding: 0 24px;
    outline: none;
    background:transparent;
}
