.active-note {
    background-color: rgba(255, 0, 0, 0.5);
}

.inactive-note {
    background-color: rgba(128, 128, 128, 0.5);
}

.inactive-note.current-note {
    background-color: rgba(128, 128, 128, 1);
}

.active-note.current-note {
    background-color: rgba(255, 0, 0, 1);
}

.mute-button {
}

.unmute-button {
    background-color: goldenrod;
}

.solo-button {
}

.unsolo-button {
    background-color: darkred;
}


.inactive-reverb-button {
}

.active-reverb-button {
    background-color: darkgreen;
}


.inactive-chorus-button {
}

.active-chorus-button {
    background-color: cyan;
}

table.transport {
    table-layout: fixed;
    max-width:100%;
    white-space:nowrap;
}

table.transport td {
    overflow: visible;
    width: 100%;
}

table.transport tr td:first-child {
    width: 250px;
}

table.transport tr td:last-child{
    width:1%;
    white-space:nowrap;
}
